In [3]:
import openpyxl
import os
import numpy as np
import pandas as pd

caseDir = '/Users/projectephantom/Desktop/base_de_dades_marc/dataset102_713/processed_batch_1_2_p64_noLVA'

listDir = os.listdir(caseDir)

Id = []
TP_rate = []
TN_rate = []
FP_rate = []
FN_rate = []
Precision = []
Recall = []
F1_score = []

for caseId in sorted(listDir):
    Excel_file = os.path.join(caseDir, caseId) + "/Pred_avaluation.xlsx"
    if os.path.exists(Excel_file):
        wb_label = openpyxl.load_workbook(filename = Excel_file)
        wb = wb_label["Sheet"]
        Id.append(wb.cell(row = 2, column = 1).value)
        TP_rate.append(wb.cell(row = 5, column = 3).value)
        TN_rate.append(wb.cell(row = 5, column = 4).value)
        FP_rate.append(wb.cell(row = 5, column = 5).value)
        FN_rate.append(wb.cell(row = 5, column = 6).value)
        Precision.append(wb.cell(row = 8, column = 2).value)
        Recall.append(wb.cell(row = 8, column = 3).value)
        F1_score.append(wb.cell(row = 8, column = 4).value)

dictio = {'Id': Id, 'True Positive': TP_rate, 'True Negative': TN_rate, 'False Positive': FP_rate,
         'False Negative': FN_rate, 'Precision': Precision, 'Recall': Recall, 'F1 score': F1_score}
df = pd.DataFrame(data = dictio)
df

          Id  True Positive  True Negative  ...  Precision    Recall  F1 score
0   00369738              2              5  ...   1.000000  0.666667  0.800000
1   10250923              2              6  ...   1.000000  1.000000  1.000000
2   11320307              3              5  ...   1.000000  1.000000  1.000000
3   11371614              3              4  ...   0.750000  1.000000  0.857143
4   11414155              1              7  ...   1.000000  1.000000  1.000000
5   11496033              2              5  ...   0.666667  1.000000  0.800000
6   11530724              2              4  ...   1.000000  0.500000  0.666667
7   11671843              2              6  ...   1.000000  1.000000  1.000000
8   11738261              3              2  ...   0.600000  0.750000  0.666667
9   12028636              1              5  ...   1.000000  0.333333  0.500000
10  12034900              3              5  ...   1.000000  1.000000  1.000000
11  12049393              2              6  ...   1.000000  1.000000  1.000000
12  12363619              2              6  ...   1.000000  1.000000  1.000000
13  12420308              2              3  ...   1.000000  0.400000  0.571429
14  12494908              1              5  ...   1.000000  0.333333  0.500000
15  12514695              2              3  ...   0.666667  0.500000  0.571429
16  12690050              1              7  ...   1.000000  1.000000  1.000000
17  12701255              1              6  ...   1.000000  0.500000  0.666667
18  12721439              1              5  ...   0.333333  1.000000  0.500000
19  12878665              3              5  ...   1.000000  1.000000  1.000000
20  13073698              2              5  ...   1.000000  0.666667  0.800000
21  13791631              0              8  ...        NaN       NaN       NaN
22  13858776              4              4  ...   1.000000  1.000000  1.000000
23  14152801              1              5  ...   0.500000  0.500000  0.500000
24  14374961              2              6  ...   1.000000  1.000000  1.000000
25  14702434              3              4  ...   1.000000  0.750000  0.857143
26  14741228              3              3  ...   0.750000  0.750000  0.750000
27  14775351              2              4  ...   0.666667  0.666667  0.666667
28  14798361              2              6  ...   1.000000  1.000000  1.000000
29  15024233              1              6  ...   1.000000  0.500000  0.666667
30  15068309              2              6  ...   1.000000  1.000000  1.000000
31  15214848              3              1  ...   0.600000  0.600000  0.600000
32  15424020              0              7  ...        NaN  0.000000       NaN
33  17000071              2              6  ...   1.000000  1.000000  1.000000
34  17287835              5              2  ...   1.000000  0.833333  0.909091
35  17352895              1              6  ...   1.000000  0.500000  0.666667
36  17398926              1              6  ...   1.000000  0.500000  0.666667
37  18290089              4              4  ...   1.000000  1.000000  1.000000
38  18351144              2              5  ...   0.666667  1.000000  0.800000
39  19307050              3              3  ...   0.600000  1.000000  0.750000
40  19751837              4              3  ...   0.800000  1.000000  0.888889
41  19895921              0              8  ...        NaN       NaN       NaN
42  19963073              1              6  ...   0.500000  1.000000  0.666667

[43 rows x 8 columns]

In [5]:
df_metrics = df[['Precision', 'Recall', 'F1 score']].describe()
df_metrics.drop(['count'])

      Precision    Recall  F1 score
mean   0.877500  0.786585  0.807211
std    0.191729  0.266464  0.180879
min    0.333333  0.000000  0.500000
25%    0.729167  0.500000  0.666667
50%    1.000000  1.000000  0.800000
75%    1.000000  1.000000  1.000000
max    1.000000  1.000000  1.000000

28.0